:host {
  &.new {
    color: var(--status-new);
  }

  &.completed {
    color: var(--status-completed);
  }

  &.planned {
    color: var(--status-planned);
  }

  &.expired {
    color: var(--status-expired);
  }
}
