<form class="card mat-elevation-z8" [formGroup]="myForm">
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input formControlName="creationDateTime" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input formControlName="shortDescription" matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Leave a comment</mat-label>
    <textarea formControlName="fullDescription" matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
  <button mat-flat-button color="primary">Primary</button>
</form>
